.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    @apply mt-0;
  }

  h2,
  h3 {
    @apply border-grey-light-x3;
    @apply pb-2;
    border-bottom-width: 1px;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
    @apply my-4;
  }

  pre {
    @apply rounded-lg;
    @apply bg-grey-light-x3;
    @apply text-sm;
    @apply leading-relaxed;
    @apply p-4;
    @apply my-2;
    overflow: auto;
  }

  p {
    @apply pb-2;
  }
}
