@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'github-syntax-light/lib/github-light.css';

body {
  @apply text-black;
  @apply bg-near-white;
  font-size: 16px;
}

.navigation-gap {
  margin-top: -64px;
}

.pin-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
