@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-near-white;
}

.navigation-gap {
  margin-top: -64px;
}

.underline-magic {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

/**
 * MARKDOWN
 */

.markdown-block ul {
  @apply list-disc;
  @apply ml-3;
}

.markdown-block p,
.markdown-block ul {
  @apply mb-3;
  @apply text-sm;
}

.markdown-block ul li {
  @apply mb-1;
}

.markdown-block code {
  @apply font-mono;
  @apply text-xs;
  @apply bg-warning-light;
  @apply p-1;
  @apply rounded-sm;
  @apply mx-1;
}

.markdown-block ul li:last-child {
  @apply mb-0;
}

.markdown-block *:last-child {
  @apply mb-0;
}

.markdown-block h1,
.markdown-block h2,
.markdown-block h3,
.markdown-block h4 {
  @apply text-xl;
  @apply font-bold;
  @apply mb-3;
}

.markdown-block h5,
.markdown-block h6 {
  @apply text-lg;
  @apply font-bold;
  @apply mb-2;
}
