@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './markdown.css';

body {
  @apply bg-near-white;
}

.navigation-gap {
  margin-top: -64px;
}

.underline-magic {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.magic-border {
  background: linear-gradient(to right, red, purple);
}
